@import url(reset.css);/* siempre rest lo primero antes de empezar a hacer ningun estilo */
/*
handlee y montserrat 400, 700
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

*{
    box-sizing: border-box;
}

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;/* variables para aplicar estilos directamente */
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris:#aaa;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;/* esto hay que hacerlo siempre para un diseño responsive */
    display: block;
}



.row{
    display: flex;/* para aplicar display flex a los elementos que nosotros queramos aplicandoles la clase .row */
}



/* inicio titulo */

/* header */
header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

header .nav_top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}

header .nav_top a span{
    display: none;
}

header .nav_top a i{
    color: var(--color-principal);
}

header .nav_top .row{
    justify-content: space-between;/* sirve para separar los iconos equidistantemente */
}

header nav{
    padding: 20px 10px;
}

header .hamburguesa{
    width: 50px;
    cursor: pointer;/* hace que salga la manita como si fuera un enlace */
}

header .hamburguesa div{
    border-top: 2px solid var(--gris);
    margin: 10px;
}

header nav .row{
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul{
    width: 100%;
}

header nav .logo{
    max-width: 110px;
}

header nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);
}

header nav ul li a:hover{
    color: var(--color-principal);
}

header nav ul li .activo{
    color: var(--color-principal);
}

@media(min-width: 48em){
    header .nav_top a span{
        display: inline;
    }
}

@media(min-width:62.750em){
    header .hamburguesa{
        display: none;
    }

    header nav ul{
        width: auto;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        padding: 5px 20px;
        border-bottom: 0px;
    }
}

/* fin header */

main #ourblogs{
    margin: 70px 0px;
}

main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2.5em;
    text-align: center;
}

main section h2 span{
    color: var(--color-principal);
}

main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--color-principal);
}

main #ourblogs .row{
    flex-wrap: wrap;
}

main #ourblogs article h3{
    margin: 1em 0;
    font-weight: 700;
}

main #ourblogs h4{
    margin: 1em 0;
    color: var(--color-principal);
    font-weight: 700;
}

.boton{
    display: inline-block;
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
}

.boton:hover{
    background-color: transparent;
    color: var(--color-principal);
}

.boton:hover i{
    transform: translateX(5px);
}

.boton i{
    transition: 0.5s;
}

.enlace{
    text-decoration: none;
    color: var(--color-principal);
    margin-top: 1em;
    display: block;
}

main section div article {
    width: 50%;
    padding: 10px;
    position: relative;

}


main section div article .fecha {
    position: absolute;
    background-color:#fa573a80;
    color: white;
    font-family:var(--fuentePrincipal);
    font-weight: 700;  
    text-align: center;  
    padding: 12px 15px;
    top: 10px;
    left: 10px;
}

main section div article .fecha span {
    width: 100%;
    display: block;
    margin-top: 5px;

}


@media(min-width:62.750em){
    .container{
        max-width: var(--anchoMaximo);/* para aplicar un diseño encorsetado a ciertas partes que nosotros queramos */
        margin: 0 auto;
    }
   
    main section div article{
        width: 33.333%;
      }
}



/* fin titulo */

/* inicia footer */

footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;/* al cambiar la posicion hay que volver a indicar el width */
    margin-top: 20px;
    bottom: 0px;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: none;
}

@media(min-width:48em){
    footer{
        text-align: left;
    }
}

/* fin footer */