@import url(reset.css);/* siempre rest lo primero antes de empezar a hacer ningun estilo */
/*
handlee y montserrat 400, 700
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

*{
    box-sizing: border-box;
}

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;/* variables para aplicar estilos directamente */
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo: 1100px;
    --gris:#aaa;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;/* esto hay que hacerlo siempre para un diseño responsive */
    display: block;
}



.row{
    display: flex;/* para aplicar display flex a los elementos que nosotros queramos aplicandoles la clase .row */
}

/* header */
header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

header .nav_top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}

header .nav_top a span{
    display: none;
}

header .nav_top a i{
    color: var(--color-principal);
}

header .nav_top .row{
    justify-content: space-between;/* sirve para separar los iconos equidistantemente */
}

header nav{
    padding: 20px 10px;
}

header .hamburguesa{
    width: 50px;
    cursor: pointer;/* hace que salga la manita como si fuera un enlace */
}

header .hamburguesa div{
    border-top: 2px solid var(--gris);
    margin: 10px;
}

header nav .row{
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul{
    width: 100%;
}

header nav .logo{
    max-width: 110px;
}

header nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);
}

header nav ul li a:hover{
    color: var(--color-principal);
}

header nav ul li .activo{
    color: var(--color-principal);
}

@media(min-width: 48em){
    header .nav_top a span{
        display: inline;
    }
}

@media(min-width:62.750em){
    header .hamburguesa{
        display: none;
    }

    header nav ul{
        width: auto;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        padding: 5px 20px;
        border-bottom: 0px;
    }
}

/* fin header */

/*inicio footer*/

footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;/* al cambiar la posicion hay que volver a indicar el width */
    margin-top: 20px;
    bottom: 0px;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: none;
}

@media(min-width:48em){
    footer{
        text-align: left;
    }
}
/*fin footer*/

/* inicio menu */

body{
    background-color: var(--color-secundario);
}

main{
    background-color: var(--color-secundario);
}

main #menu aside nav{
    margin: 20px 50px;
}

main #menu aside .oferta{
    margin: 20px 50px;
}

main #menu .articulos{
    margin: 40px 60px 65px 60px;
}

main #menu .articulos article div{
    margin-bottom: 30px;
}

main section h2{
    color: white;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}

main section h2 span{
    color: var(--color-principal);
}

main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--color-principal);
}


main #menu h3{
    color: white;
    font-family: var(--fuentePrincipal);
    margin: 1em 0;
    font-weight: 700;
    font-size: 0.9em;
}

main #menu aside .oferta hr{
    margin: 0px 270px 20px 0px;
    color: var(--color-principal);
}



main #menu aside nav ul li{
    font-family: var(--fuentePrincipal);
    color: white;
    margin: 2px;
    width: 100%;
}

main #menu aside nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
    border-radius: 3%;

}

main #menu aside nav ul li a:hover{
    background-color: var(--color-principal);
}

main #menu p{
    color: white;
}

main #menu div article h3{
    display: inline-block;
    width: 85%;
}

main #menu div article small{
    color: var(--color-principal);
    display: inline-block;
    font-weight: 700;
    width: 10%;
    text-align: center;
    
}


.enlace{
    text-decoration: none;
    color: var(--color-principal);
    margin-top: 1em;
    display: block;
    font-size: 0.9em;
}

@media(min-width:62.750em){
    .container{
        max-width: 1500px;
        margin: 0 auto;
    }

    main section aside{
        display: inline-block;
        width: 30%;
    }
    main #menu aside nav{
        margin-bottom: 100px;
    }

    main #menu aside nav ul li{
        margin: 10px 0px;
    }

    main section .articulos{
        display: inline-block;
        width: 50%;
    }
    main section .articulos article img{
        display: inline-block;
        width: 20%;
    }
    main section .articulos article div{
        display: inline-block;
        width: 60%;   
        margin-left: 15px;    
    }
  
}


/* fin menu */